<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhu.app.dao.ITestXmlDAO">
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />-->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <insert id="insertAccount" parameterType="zhu.app.model.Account"
            keyColumn="`id`" keyProperty="`id`" useGeneratedKeys="true">
        insert into account (name,passwod,account) values (#{name},#{passwod},#{account})
    </insert>
    <select id="findAccounts" resultType="zhu.app.model.Account">
    <![CDATA[
            select  id as id,
			 name as name,
			 passwod as passwod,
			  account as account
			 from account
        ]]>
  </select>
    <select id="findAccountById" parameterType="int"
            resultType="zhu.app.model.Account">
    <![CDATA[
            select  id as id,name as name,passwod as passwod,
			  account as account
			 from account
			 where
			id = #{id}
        ]]>
  </select>

</mapper>